/* Global Styles */
body {
  padding: 0;
  margin: 0em;
  padding: 1em;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f3f3f3;
}

/* Main Container */
#main_container {
  min-height: 550px;
  padding: 1em;
  border: 1px solid #dedede;
  background-color: #ffffff;
}

#list {
	/*background-color: gray;*/
	padding: 1em;
	text-align: center;
}

#list li {
	padding: 0.25em;
	margin: 1em auto;
	display: inline-block;
}

#display {
	text-align: center;
	margin: 0 auto;
}

#display h1{
	margin: 1em auto;
	max-width: 400px;
	color: #222;
	font-weight: 200;
	font-size: 1.2em;
}

#display img {
	margin: auto;
    border: 1px solid #eee;
    padding: 1em;
}

#displayImgRef {
	font-size: 0.85em;
	color: #999;
}

#clicks{
	color: #fff;
    background-color: #cdcdcd;
    padding: 0.25em .65em;
    border-radius: 25%;
    margin: .5em;
}

#admin {
	margin: 1em;
	display: block;
}

#title {
	text-align: center;
}